<div>
  <h2><%= @fav_repo.search_result.name %></h2>

    <h3>Full Name: <%=@fav_repo.search_result.full_name%></h3>
    <h3>Name: <%=@fav_repo.search_result.name%></h3>
    <h3>URL: <%=@fav_repo.search_result.html_url%></h3>
    <h3>Description: <%=@fav_repo.search_result.description%></h3>
    <h3>Private: <%=@fav_repo.search_result.private%></h3>
</div>
