<div class="modal-content">
  <h2>Repo Details</h2>
    <h3><strong>Full Name:</strong> <%=@fav_repo.search_result.full_name%></h3>
    <h3><strong>Name:</strong> <%=@fav_repo.search_result.name%></h3>
    <h3><strong>URL:</strong> <%=@fav_repo.search_result.html_url%></h3>
    <h3><strong>Description:</strong> <%=@fav_repo.search_result.description%></h3>
    <h3><strong>Private:</strong> <%=@fav_repo.search_result.private%></h3>
</div>